html{
    overflow-y:hidden;
}


body{
    display: flex;
}

#canvas-container {
    position: relative;

    margin: 0;
    padding: 0;

    width: 80vw;
    height: 100vh;

}

#canvas-container canvas{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%; 
    height: 100%;
}

#tool-list-container{
    position: fixed;
    bottom: 20px;
    right: 23%;

    z-index: 100;

    background-color: rgb(255, 0, 251);
}

#tool-list{
    display: flex;
    gap: 3px;

    margin: 10px;
    padding: 0px;

    background-color: aqua;
    border-radius: 1000px;
}

.tool{
    max-width: 40px;
    height: auto;

    padding: 10px;

    background-color: rgb(255, 0, 0);
    border-radius: 1000px;
}

.tool-active{
    background-color: blue;
}

#tool-settings{
    margin: 10px;

}

#pencil-settings label, #pencil-settnigs input{
    display: block;
}


aside{
    background-color: rgb(122, 126, 244);
    min-width: 20%;
}
#animation-canvas {
    z-index: 40; 
}

#design-canvas {
    z-index: 10; 
}

#title-canvas {
    z-index: 20; 
}

#checklist-canvas {
    z-index: 30; 
}

#marker-container{
    position: relative;
}

.marker{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    -webkit-user-drag: none;
}

#popup{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 200;
    background-color: darkkhaki;
    max-height: 300px;
    overflow-y: scroll;
}

.popup-title{
    color: red;
}

.popup-user{
    background-color: blueviolet;
    display: flex;
    margin: 5px;
    align-items: center;
}

.popup-user img {
    max-width: 30px;
    max-height: 30px;
}

.popup-label{
    background-color: blueviolet;
    display: flex;
    margin: 5px;
    align-items: center;
}

.avatar-container {
    width: 40px;          /* Set size */
    height: 40px;
    border-radius: 50%;   /* Make it a circle */
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center;     /* Center text vertically */
    color: #ffffff;       /* White text color */
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

.popup-user p{
    color: green;
}

.user{
    position: absolute;
    z-index: 100;
    -webkit-user-drag: none;
}

.user-block{
    position: static;
    width: 50px;
}

.label{
    position: absolute;
    z-index: 100;
    -webkit-user-drag: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 3px;
}

.label-block{
    position: static;
    font-size: 20px;
}

#overlay{
    top: -10%;
    left: -10%;


    z-index: 1000;
    position: absolute;
    background-color:#0000006f;

    width: 110%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#overlay-container{
    align-content: center;
    padding: 2%;
    margin: 20%;
    background-color: #ffffff;
}

#overlay-member{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#overlay-label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


aside{
    z-index: 1000;
}