body{
    display: flex;
}

#canvas-container {
    position: relative;

    margin: 0;
    padding: 0;

    width: 80vw;
    height: 100vh;

}

#canvas-container canvas{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%; 
    height: 100%;
}

#tool-list-container{
    position: fixed;
    bottom: 20px;
    right: 23%;

    z-index: 100;

    background-color: rgb(255, 0, 251);
}

#tool-list{
    display: flex;
    gap: 3px;

    margin: 10px;
    padding: 0px;

    background-color: aqua;
    border-radius: 1000px;
}

.tool{
    max-width: 40px;
    height: auto;

    padding: 10px;

    background-color: rgb(255, 0, 0);
    border-radius: 1000px;
}

.tool-active{
    background-color: blue;
}

#tool-settings{
    margin: 10px;

}

#pencil-settings label, #pencil-settnigs input{
    display: block;
}


aside{
    background-color: rgb(122, 126, 244);
    min-width: 20%;
}
#animation-canvas {
    z-index: 40; 
}

#design-canvas {
    z-index: 10; 
}

#title-canvas {
    z-index: 20; 
}

#checklist-canvas {
    z-index: 30; 
}